@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main-container {
    max-width: 640px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

.join-community-container {
    background-color: white;
    padding: 40px;
}

.join-ccommunity-title {
    color: #2AB3B1;
    font-size: 24px;
    letter-spacing: -.3px;
    margin-bottom: 20px;
}

.guarantee {
    color: #C0DF33;
    font-size: 18px;
    letter-spacing: -.22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.join-ccommunity-description {
    color: #9AA7BE;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.2px;
}

.monthly-subscription-and-why-us-wrapper {
    display: flex;
}

.monthly-subscription-container {
    width: 50%;
    background-color: #2AB3B1;
    padding: 40px;
}

.monthly-subscription-title {
    color: white;
    letter-spacing: -.22px;
    font-size: 18px;
    margin-bottom: 15px;
}

.price {
    font-size: 16px;
    letter-spacing: -.2px;
    color: rgba(256,256,256,.5);
    margin-bottom: 10px; 
}

.price-number {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.4px;
    color: white;
}

.full-acces {
    color: white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.2px;
    font-weight: 300;
    margin-bottom: 25px;
}

.sign-up-button {
    background-color: #C0DF33;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
}

.sign-up {
    color: white;
    font-size: 16px;
    letter-spacing: -.2px;
}

.why-us-container {
    width: 50%;
    background-color: hsl(179, 45%, 54%);
    padding: 40px;
    padding-right: 96px;
}

.why-us-title {
    color: white;
    font-size: 18px;
    letter-spacing: -.22px;
    margin-bottom: 15px;
}

.why-us-description {
    color: white;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: -.1px;
    line-height: 22px;
    opacity: 95%;
}